@import '../../constants/panel';


.DocumentTreePanel {
    // !important is used otherwise it will be overriden by .LeftPanel.Panel in LeftPanel.scss
    // we should fix this to not use !important after 6.0 release
    overflow: hidden !important;
    display: flex;
    padding: 8px 0px;
  }
  